# Unit 19. 중첩 반복문

## 19.1 중첩(Nested) for loop

In [1]:
for i in range(5):          # 5번 반복. 바깥쪽 루프는 세로 방향
    for j in range(5):      # 5번 반복. 안쪽 루프는 가로 방향
        print('j:', j, sep='', end=' ')    # j값 출력. end에 ' '를 지정하여 줄바꿈 대신 한 칸 띄움
    print('i:', i, '\\n', sep='')

j:0 j:1 j:2 j:3 j:4 i:0\n
j:0 j:1 j:2 j:3 j:4 i:1\n
j:0 j:1 j:2 j:3 j:4 i:2\n
j:0 j:1 j:2 j:3 j:4 i:3\n
j:0 j:1 j:2 j:3 j:4 i:4\n

In [2]:
for i in range(5):
  for k in range(10, 60, 10):
     print(k, end=' ')
  print(i)

10 20 30 40 50 0
10 20 30 40 50 1
10 20 30 40 50 2
10 20 30 40 50 3
10 20 30 40 50 4

## 19.2 사각형으로 별 출력하기

In [4]:
for i in range(5):
  for k in range(5):
      print('*', end='')
  print()

*****
*****
*****
*****
*****

In [5]:
# 평행사변형

for i in range(3):            # 3번 반복. 세로 방향
    for j in range(7):        # 7번 반복. 가로 방향
        print('*', end='')    # 별 출력. end에 ''를 지정하여 줄바꿈을 하지 않음
    print()    # 가로 방향으로 별을 다 그린 뒤 다음 줄로 넘어감
               # (print는 출력 후 기본적으로 다음 줄로 넘어감)

*******
*******
*******

In [8]:
# 블랭크있는 사각형

for i in range(4):
    for _ in range(0, i): 
        print(' ', end='')
    for _ in range(5):
        print('*', end='')
    print()

*****
 *****
  *****
   *****

In [10]:
for i in range(0, 0):
    print('*')

In [14]:
for i in range(4):
  print(' '*i, '*'*5, sep='')

*****
 *****
  *****
   *****

## 19.3 계단식 별 모양

In [15]:
for i in range(5):
    for _ in range(i+1):
        print('*', end='')
    print()

*
**
***
****
*****

In [18]:
for i in range(5):
    print('*' * (i+1))

*
**
***
****
*****

In [16]:
for i in range(5):
    for _ in range(i):
        print(' ', end='')
    for _ in range(5-i):
        print('*', end='')
    print()

*****
 ****
  ***
   **
    *

In [20]:
for i in range(5):
      print(' '*i, '*'*(5-i), sep='')

*****
 ****
  ***
   **
    *

### diamond 그리기

In [34]:
for i in range(5):
    for _ in range(4-i):
      print(' ', end='')
    for _ in range(2*i+1):
      print('*', end='')
    print()

for i in range(4):
    for _ in range(i+1):
      print(' ', end='')
    for _ in range(7-2*i):
      print('*', end='')
    print()

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [38]:
for i in range(5):
    print(' '*(4-i), '*'*(2*i+1))
for i in range(4):
    print(' '*(i+1), '*'*(7-2*i))

     *
    ***
   *****
  *******
 *********
  *******
   *****
    ***
     *