# Unit 23. 2차원 리스트 사용하기

## 23.1 2차원 리스트를 만들고 요소에 접근하기

In [2]:
 a = [[10, 20], [30, 40], [50, 60]]
a

[[10, 20], [30, 40], [50, 60]]

In [3]:
# a[행인덱스][열인덱스]
a[1][0]

30

In [4]:
a[1][-1] = 100 #a[1][1]
a

[[10, 20], [30, 100], [50, 60]]

In [6]:
import numpy as np
b = np.arange(16).reshape(4,4)
b

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [7]:
b[1:-1, 1:-1]

array([[ 5,  6],
       [ 9, 10]])

In [9]:
a = []
for i in range(4):
    t = []
    for k in range(4):
        t.append(i*4 + k)
    a.append(t)
a

[[0, 1, 2, 3], [4, 5, 6, 7], [8, 9, 10, 11], [12, 13, 14, 15]]

In [11]:
from pprint import pprint
pprint(a, indent=4, width=30)

[   [0, 1, 2, 3],
    [4, 5, 6, 7],
    [8, 9, 10, 11],
    [12, 13, 14, 15]]

# 23.2 for 반복문

In [12]:
for row in a:
  print(row)

[0, 1, 2, 3]
[4, 5, 6, 7]
[8, 9, 10, 11]
[12, 13, 14, 15]

In [16]:
for row in a:
  for element in row:
    print(f'{element:2d} ' , end=' ')
  print()

 0   1   2   3
 4   5   6   7
 8   9  10  11
12  13  14  15

In [17]:
# 리스트 언패킹
for w,x,y,z in a:
   print(w,x,y,z)

0 1 2 3
4 5 6 7
8 9 10 11
12 13 14 15

# 23.3.1  for 반복문으로 1차원 리스트 만들기

In [18]:
a = []    # 빈 리스트 생성
 
for i in range(10):
    a.append(0)    # append로 요소 추가
 
print(a)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [20]:
a = [[0 for _ in range(2)] for _ in range(3)]
a

[[0, 0], [0, 0], [0, 0]]

In [22]:
a = [3, 1, 3, 2, 5]    # 가로 크기를 저장한 리스트
b = [] 

for i in a:      # 가로 크기를 저장한 리스트로 반복
    line = []    # 안쪽 리스트로 사용할 빈 리스트 생성
    for j in range(i):    # 리스트 a에 저장된 가로 크기만큼 반복
        line.append(0)
    b.append(line)  
b

[[0, 0, 0], [0], [0, 0, 0], [0, 0], [0, 0, 0, 0, 0]]

In [23]:
[[0] * i for i in a]

[[0, 0, 0], [0], [0, 0, 0], [0, 0], [0, 0, 0, 0, 0]]

# 23.4 2차원 리스트의 할당과 복사

In [24]:
a = [[10, 20], [30, 40]]
b = a
b[0][0] = 500
a

[[500, 20], [30, 40]]