# Unit 29. 함수 사용하기

## 29.1 출력 함수 만들기

In [1]:
def hello():
  print('Hello, world!')

In [2]:
hello()

Hello, world!

## 29.2 덧셈 함수

In [5]:
# 매개변수, parameter, argumennt
def add(a, b):
  print(a + b)

In [6]:
add(4, 5)

9

In [7]:
# Docstrings
def add(a, b):
  """
  이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.
  """
  print(a + b)

In [8]:
add?

## 29.3 함수의 결과를 반환하기

In [9]:
def add(a,b):
  return a+b

In [10]:
add(4,5), add(10,20)

(9, 30)

In [13]:
def not_ten(x):
  if x==10:
    return
  else:
    print('It is 10.')

In [14]:
not_ten(5)

It is 10.

In [15]:
not_ten(101//10)

## 29.4 여러개의 결과값 반환

In [16]:
def add_sub(a,b):
  return a+b, a-b

In [18]:
x, y = add_sub(15, 7)

In [19]:
x, y

(22, 8)

## 29.5 함수의 호출 과정

In [20]:
# Stack을 이용한다

## 연습 문제
- 3자리수 정수 두개를 곱해서 나온 결과가 팔린드롬이 되도록 할 때, 가장 큰 숫자는?

In [22]:
# 왼쪽, 오른쪽에서 읽은 숫자가 동일함
def is_palindrome(x): 
  s = str(x)
  return s == s[::-1]

In [23]:
is_palindrome(12345), is_palindrome(906609)

(False, True)

In [26]:
max_pal, m, n = 0, 0, 0
for i in range(100, 1000):
  for k in range(i, 1000):
    if is_palindrome(i*k):
      if i*k > max_pal:
        max_pal = i*k
        m = i
        n = k
print(f'{m} x {n} = {max_pal}')

913 x 993 = 906609