# Unit 30. 함수에서 위치 인수와 키워드 인수 사용하기

## 30.1 위치인수

In [1]:
def print_numbers(a,b,c):
  print(a)
  print(b)
  print(c)

In [2]:
print_numbers(10, 20, 30)

10
20
30

In [3]:
# *x, *y - 리스트/튜플 언패킹
x, y = [10,20,30], (40,50,60)
print_numbers(*x)
print_numbers(*y)

10
20
30
40
50
60

In [5]:
# 가변 인수 함수
def print_numbers(*args):
  for arg in args:
    print(arg)

In [6]:
# 고정 인수와 가변 인수
def print_numbers2(a, *args):
  print(a)
  print(args)

In [7]:
print_numbers2(1, 10, 20)

1
(10, 20)

## 30.2 키워드 인수

In [12]:
def personal_info(name, age, addr):
  print('이름:', name)
  print('나이:', age)
  print('주소:', addr)

In [13]:
personal_info('홍길동', 30, '서울 강남구 도곡동')

이름: 홍길동
나이: 30
주소: 서울 강남구 도곡동

In [14]:
personal_info(age=30, addr='서울 강남구 도곡동', name='홍길동')

이름: 홍길동
나이: 30
주소: 서울 강남구 도곡동

## 30.3 키워드 인수와 딕셔너리 언패킹

In [16]:
x = {'name':'홍길동', 'age':30, 'addr':'서울 강남구 도곡동'}
personal_info(**x)

이름: 홍길동
나이: 30
주소: 서울 강남구 도곡동

### 가변 키워드 인수

In [24]:
def personal_info2(**kwargs):
  for key, value in kwargs.items():
    print(f'{key}: {value}')

In [25]:
personal_info2(**x)

name: 홍길동
age: 30
addr: 서울 강남구 도곡동

In [26]:
personal_info2(name='홍길동', age=30)

name: 홍길동
age: 30