# Unit 32. 람다 함수
- 익명(Anonymous) 함수

In [2]:
def plus_ten(x):
  return x +10

In [3]:
plus_ten(5)

15

In [6]:
plus_ten2 = lambda x: x+10
plus_ten2(5)

15

In [8]:
list(map(lambda x: int(x)+10, input().split()))

2 5 10

[12, 15, 20]

In [9]:
def plus_ten(x):
  return int(x)+10
list(map(plus_ten, input().split()))

2 5 6

[12, 15, 16]

### 제약사항

In [ ]:
# 람다에서는 변수를 만들 수 없음
(lambda x: y-10; x+y)(3) # 함수 바깥에서만 만들 수 있음

### 조건부 함수

In [10]:
# 리스트 a에서 3의 배수를 문자열로 변환
a = list(range(1,11))
list(map(lambda x: str(x) if x%3==0 else x, a))

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [11]:
# 리스트 a에서 3의 배수를 문자열로, 5의 배수는 실수로 전환
list(map(lambda x: str(x) if x%3==0 else float(x) if x%5==0 else x, a))

[1, 2, '3', 4, 5.0, '6', 7, 8, '9', 10.0]

### map에 여러개의 객체

In [12]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]
list(map(lambda x, y: x*y, a, b))

[6, 14, 24, 36, 50]

### filter

In [14]:
a = list(range(1,11))
list(filter(lambda x: 4 <= x < 8, a))

[4, 5, 6, 7]