# Unit 38. 예외 처리 사용하기

## 38.1 try except

In [1]:
a = [1,2,3]
try:
    a[4]
except:
  print('예외발생')

예외발생

In [4]:
try:
  int('10d')
except ZeroDivisionError:
  print('0으로 나눌 수 없습니다')
except IndexError:
  print('Index Error 발생')
except ValueError:
  print('Value Error 발생')

Value Error 발생

In [7]:
# 예외의 에러 메시지

try:
    int('10d')
except Exception as e:      # alias
    print(e)

invalid literal for int() with base 10: '10d'

## 38.2 else-finally

In [10]:
try:
    x = int(input())
    y = 10 / x
except Exception as e:
    print(e)
else:
    print(y)

0
division by zero

In [11]:
# 예외와 상관없이 항상 실행

try:
    x = int(input())
    y = 10 / x
except Exception as e:
    print(e)
else:
    print(y)
finally:
    print('코드 실행 종료')

invalid literal for int() with base 10: ''
코드 실행 종료